* {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}

body {
   background: linear-gradient(225deg, #6a89cc, #e55039);
   width: 100vw;
   min-height: 100vh;
   display: flex;
   align-items: center;
   flex-direction: column;
   overflow-x: hidden;
}

#formulaire{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 60px;
}

form {
   display: flex;
   flex-direction: column;
   width: 80vw;
}

form > label {
   font-size: 18px;
   margin: 10px 0;
}

form > input {
   font-size: 18px;
   padding: 5px;
   outline: none;
   border: none;
   border-radius: 2px;
}

form > input:focus {
   background-color: rgba(0, 0, 0, 10%);
   border-bottom: black 2px solid;
}

form > textarea {
   font-size: 18px;
   padding: 5px;
   outline: none;
   border: none;
   border-radius: 2px;
}

form > textarea:focus {
   background-color: rgba(0, 0, 0, 10%);
   border-bottom: black 2px solid;
}

footer {
   height: 40px;
   width: 100vw;
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   bottom: 0;
}

footer > p {
   color: whitesmoke;
   font-weight: 200;
   font-size: 12px;
}